.slide1 {
  background-color: rgb(0 48 80 / 81%);
  height: 36rem;
}

.slide2 {
  background-color: rgb(0 48 80 / 81%);
  height: 36rem;
}

.slide3 {
  background-color: rgb(0 48 80 / 81%);
  height: 36rem;
}
