/* dashboard.css */

/* General styles */
#layoutSidenav_content {
  margin-top: 56px;
}

.container-fluid {
  padding: 30px 15px;
}

h1 {
  margin-top: 40px;
}

.breadcrumb {
  background-color: #f8f9fa;
}

.card {
  margin-bottom: 20px;
}

.card-body {
  position: relative;
  padding: 20px;
  font-size: 18px;
}

.badge {
  font-size: 14px;
  padding: 6px 8px;
}

.card-footer {
  padding: 15px;
}

.stretched-link {
  color: #fff;
}

.fa-angle-right {
  margin-left: 5px;
}
