.abc {
  display: flex;
  margin-left: 2rem;
}

.row-dash {
  display: flex;
  margin-left: 2rem;
  margin-top: 4rem;
  gap: 4rem;
}

.row-dash-small {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.row-dash a {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dashboard-body {
  padding: 20px;
}

.ant-card-bordered {
  border: none;
  border-radius: 10px;
}

.drawer-dash {
  position: absolute;
  justify-content: center;
  right: 25rem;
  top: 6rem;
  border-radius: 10px;
  height: 35rem !important;
  width: 32rem !important;
}
