.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1890ff;
  padding: 0 20px;
}

.search-input {
  width: 200px;
}

.search-input input {
  color: white;
}

.btn-noti {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;
}

.btn-rgt {
  background-color: #07252e91;
  color: white;
}

.search-input .ant-input-group-addon {
  background-color: transparent;
}

.search-input .ant-input {
  background-color: transparent;
  border: none;
}

.left-content {
  font-size: 3rem;
  font-weight: bold;
  color: #f6faff;
}

.right-content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

:where(.css-dev-only-do-not-override-djtmh8).ant-drawer .ant-drawer-header {
  background: #bae8ea;
}
