.Headers {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.Headers-menu {
  list-style: none;
  display: flex;
  color: white;
  gap: 2rem;
}

.Headers-menu > li:hover {
  cursor: pointer;
  color: darkorange;
}
